@model Shipment



<form asp-action="ShipDonation" asp-controller="Shippers" method="post">
    <input type="hidden" asp-for="@Model.UserId">
    <p> UserId  = @Model.UserId *** DonnationId = @Model.DonationId **** SessionId = @Context.Session.GetInt32("userId")</p>
    <input type="hidden" asp-for="@Model.DonationId">
    <button type="submit" class="btn btn-primary">✅ Ship this Donation</button>
</form>
